<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
    <center><h1>EXPENSE TRACKER WEB</h1></center>
    </nav>
    <form action="/home" method="post">
    <input type="text" name="type" placeholder="income/expense">
    <input type="number" name="nominal" placeholder="nominal">
    <input type="text" name="category" placeholder="category">
    <input type="text" name="note" placeholder="note">
    <input type="date" name="date" placeholder="date">
    <button type="submit">Tambah</button>
    </form>

   <div class="table-section">
            <h2>Daftar Transaksi</h2>
            
            <% if (data.length === 0) { %>
                <p class="no-data">Belum ada data transaksi. Silakan tambah transaksi baru di atas.</p>
            <% } else { %>
                <table>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Type</th>
                            <th>Nominal</th>
                            <th>Category</th>
                            <th>Note</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((row, index) => { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td>
                                    <span class="type-<%= row.type %>">
                                        <%= row.type === 'income' ? '📈 Income' : '📉 Expense' %>
                                    </span>
                                </td>
                                <td>
                                    Rp <%= parseFloat(row.nominal).toLocaleString('id-ID') %>
                                </td>
                                <td><%= row.category %></td>
                                <td><%= row.note || '-' %></td>
                                <td><%= new Date(row.date).toLocaleDateString('id-ID')%></td>
                                <td>
                                    <form action="/home/<%= row.id %>/delete" method="post">
                                        <button type="submit" onclick="return('confirm hapus?')">Hapus</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/home/<% data.id %>/edit" method="get">
                                         <button type="button">Edit</button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% } %> <br>
</body>
</html>